.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'klavikaboldwebfont';
  src: url('/images/klavikaboldwebfont.eot');
  src: local('/images/klavikaboldwebfont'), url('/images/klavikaboldwebfont.woff') format('woff'), url('/images/.klavikaboldwebfont.ttf') format('truetype');
}

.fontsforweb_fontid_77695 {
  font-family: 'klavikaboldwebfont' !important;
  font-size: 2.2rem;
}

/* CHECKBOXES */
.btn-group-toggle .btn:not(:disabled):not(.disabled).active, .btn-group-toggle .btn:not(:disabled):not(.disabled):active, .show>.btn.dropdown-toggle {
  color: #fff;
  background-color: #3b5998;
  border-color: black;
}
/* non selected btn css */
.btn-group-toggle .btn {
  color: #fff;
  background-color: gray;
  border-color: black;
}

/* YEARS CHECKBOXES */
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #3b5998;
  border-color: black;
}
